@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');


@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes MiAnimacion {
            0% {margin-top: 150%}
            60% {margin-top: -5%}
            100%{margin-top: 0%}
            0% {opacity: 0;}
            100% {opacity: 1;}


          }
body{
      font-family:'Poppins',Verdana, Sans-serif;
      animation: fadeIn;
      background-color:black;
      animation-duration: 5s;
      background: url(../img/guitarra.jpeg);
      background-size:cover;
      background-attachment: fixed;
}

.cabecera{
          background:url(../img/textura.jpg);
          border-radius:10px 10px 0px 0px;
          background-size: cover;
}

.articulo {color: white;font-family: 'Roboto';}important!
